@model IEnumerable<Movie>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ReleaseDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Genre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Rating)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReleaseDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Genre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rating)
                        </td>
                        <td>
                            <a asp-controller="Home" asp-action="Details" asp-route-id="@item.ID" class="btn btn-primary m-1">Details</a>
                            <a asp-controller="Home" asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary m-1">Edit</a>
                            <a asp-controller="Home" asp-action="Details" asp-route-id="@item.ID" class="btn btn-danger m-1">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
